@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Sail&display=swap');
* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 16px;
}

iframe {
    aspect-ratio: 16/9;
    width:100%;
    height: 100%;
	max-width: 40em;

}
:root {
    --harvard: rgb(165, 28, 48);
    --harvard-hover: rgb(129, 23, 39);
    --harvard-hover-highlight: rgba(129, 23, 39,0.25);

    font-family: 'Work Sans',sans-serif;
}
.harvard-logo {
    padding: 1rem;
    margin: 1rem auto;
    align-self: center;
    min-width: 50vw;
    max-width: 5rem;
}




/* ========= BOOTSTRAP OVERRIDES ========= */

/* ========= buttons ========= */
.btn {
    border-radius: 0;
}

.btn-primary {
    border: var(--harvard);
    background-color: var(--harvard);
    outline: none;
}
.btn-primary:hover {
    background-color: var(--harvard-hover);
}

/* ========= accordions ========= */

.accordion {
    margin-bottom: 4rem;
    width: 100%;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f3f4f4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-active-color: #f3f4f4;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-body p {
    margin-left: 0.5rem;
}

.accordion-button[aria-expanded="true"] {
    color: #f3f4f4;
    background-color: var(--harvard);
}

.accordion-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ========= Tags ========= */
html,body {
    height: 100%;
    width: 100%;
}
p {
	padding: 0.1em 1em;
    width: clamp(min(15rem, 90%), 100%, 75ch);
    font-size: 1rem;
	line-height: 1.4rem;
    place-self: center;
}
a {
    color: var(--harvard);
    transition: color 200ms;
    font-weight: 600;
}

footer {
    margin-top:5rem;
}
a:hover {
    color: var(--harvard-hover);
}

/* ========= Navigation Bar ========= */

.nav-container {
    width: 100%;
    position: absolute;
}
nav {
    visibility: hidden;
    height: 0;
    background-color: var(--bs-primary-bg-subtle);
    width:100%;
}
nav > a{
    text-decoration: none;
    color: var(--bs-body-color);
}
nav > a > button {
	font-size: 1rem;
    width:100%;
}

nav > * > .btn {
	font-size: 1.5rem;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

#navToggle {
    color: #f3f4f4;
    background-color: #0e0e0e;
    width:100%;
    font-size:1.5rem;
}

/* ========= Hero Section ========= */


div.hero-section {
    min-height: 100vh;
    width:100%;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/091520_Stock_KS_025.webp');
    background-size: cover;
    background-position: center center;
    display:grid;
	place-items: center;
    margin-bottom:4rem;
}

div.hero-section h1 {
	font-family: "DM Serif Display", serif;
    color: #f3f4f4;
	font-weight: 400;
	font-style: normal;
    font-size: clamp(5rem,10vw,10rem);
	text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
    text-align: center;
    min-width: 100%;

}

/* ========= Main Body ========= */

.profile-image-container {
    box-shadow: 3px 2px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    background-color: var(--harvard-hover);
    border-radius: 50%;
    margin: 2rem;
}

.profile-image-container > img {
    width: 100%;
    margin: 0.5rem;
    border-radius: 50%;
    filter: brightness(90%);
}

h1,h2 {
    text-align: center;
    margin: 0 auto;
}

main {
	padding: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
img {
	max-width: 90%;
}

main.notes {
    flex-direction: column;
}

main.notes h1,h2:not(.accordion-header) {
	font-weight: bold;
	margin-top: 1.1em;
	margin-bottom: 1em;
	font-size: clamp(2rem,4vw,2rem);
}
/* ========= FOOTER ========= */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f3f4f4;
    background-color: var(--harvard);

}

.footerLinks {
    padding-top: 1.5rem;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    width: 100%;
}

.footerLinks > .footerSection {
    text-align: center;
    width: 100%;
    color:#f3f4f4;
    margin:auto 1rem;
    place-self: center;
}

.footerSection> div > h4 {
    text-decoration:underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 2px;
    padding-top: 1rem;
    font-weight: 1000;
    letter-spacing: 0.5vw;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.footerSection > div {

    margin-bottom: 1rem;
}

.footerSection > div > a {
    color:#f3f4f4;
}




main > article {
    display:flex;
    flex-direction: column;
}

@media screen and (max-width:480px) {
	html {
		font-size: 18px;
	}
}


@media (min-width: 768px) and (orientation: landscape) {
	html {
		font-size: 18px;
	}
	p {
		padding: 0.1em 1em;
	}
    .btn {
        border-radius: 0.25rem;
		font-size: 1rem;
    }
    .accordion {
        width: 70%;
    }
    nav {
        visibility: visible;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-direction: row;
        justify-content:center;
        align-items:center;
    }
    nav > a {
        margin: 0.25rem 0.5rem;
    }
	nav > * > .btn {
		font-size: 1rem;
	}
    #navToggle {
		font-size: 1rem;
        display: none;
    }
	.btn {
		font-size: 1rem;
	}

    .footerLinks {
        flex-direction: row;
    }
    .footerSection > div > h4 {
        text-decoration:overline underline;
        padding-top: auto;
        font-weight: 600;
        letter-spacing: unset;
        text-transform: unset;
    }
}
